.card-img-top{
    height: auto;
}

h2{
    font-size: 5rem;
    text-align:center;
    padding-top: 2%;
}

.card{
    padding: 1%;
}

.hivatkozás{
    text-decoration: none;
    color:rgb(31, 30, 30);
}

.hivatkozás:hover{
    text-decoration: none;
    color:rgba(178, 194, 199, 0.856);
}