.carousel-item{
    background-color: rgb(31, 30, 30);
    padding:8%;
    justify-content: center;
}

.carousel img{
    margin:auto;
    height: 300px;
}

@media only screen and (max-width:1023px){
    .carousel img{
        padding-bottom: 10%;
    }
    
}

@media only screen and (max-width:576px){
    .carousel img{
        padding-bottom: 30%;
    }
    
}